{% extends 'core/base.html' %}
{% load static %}
<link href="{% static 'core/css/nicepage.css' %}" rel="stylesheet">
<link href="{% static 'core/css/Explore-Projects.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>


{% block breadcrumb %}
<li class="breadcrumb-item">Home</li>
<li class="breadcrumb-item">Projects</li>
<li class="breadcrumb-item active">Views</li>
{% endblock breadcrumb%}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="loc-bounty">
                <!-- <div class="col-md-6 text-center mb-4"> -->
                <h2 class="heading-section">Bounty Board</h2>
                <!-- </div> -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table myaccordion table-hover" id="accordion">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Reward</th>
                                    <th>Category</th>
                                    <th>Project Requester</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <!-- <div id="accordion"> -->
                                <tr>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.efforts }} ETH</td>
                                    <td>{{ project.company }}</td>
                                    <td>{{ project.owner }}</td>
                                    <td>
                                        <button class="claim-font claim-button" data-toggle="collapse"
                                            data-target="#project_{{ project.id }}" aria-expanded="false">
                                            <!-- aria-expanded="false" -->
                                            Explore
                                        </button>
                                    </td>
                                </tr>
                                <tr id="project_{{ project.id }}" class="collapse">
                                    <td colspan="5">
                                        <div class="row">
                                            {% for task in tasks %}
                                            {% if task.project.id == project.id %}
                                            <div class="col-sm-4">
                                                <div class="single-note-item all-category note-business" style="">
                                                    <div class="card card-body">
                                                        <h5 class="note-title text-truncate w-75 mb-0"
                                                            data-noteheading="Give Review for design">
                                                            {{ task.task_name }}
                                                            {% if task.status == "Created"%}
                                                            <i class="point fa fa-circle ml-1 font-10"></i>
                                                            {% endif %}
                                                        </h5>
                                                        <p class="note-date font-12 text-muted">{{task.reward}} ETH
                                                            ({{task.status}}) </p>
                                                        <div class="note-content">
                                                            <p class="note-inner-content text-muted">
                                                                {{task.description}}.</p>
                                                        </div>
                                                        {% if task.status == "Created"%}
                                                        <div class="d-flex align-items-center">
                                                            <form action="{% url 'projects:projects' %}" method="POST"
                                                                class='join-form' id='{{task.id}}'>
                                                                {% csrf_token %}
                                                                <input type="hidden" name="task_id" value={{task.id}}>
                                                                <button class=" claim-font claim-button"
                                                                    value={{task.id}} id="join-btn-{{task.id}}">
                                                                    Join
                                                                </button>
                                                            </form>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.join-form').on('submit', function (e) {
            e.preventDefault();
            e.stopPropagation();
            const url = $(this).attr('action');
            console.log("here we are");
            const task_id = $(this).attr('id');
            $.ajax({
                type: 'POST',
                dataType: "json",
                url: url,
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    task_id: task_id,
                },
                success: function (response) {
                    console.log("success!")
                    alert("Congrats! You have joined the task")
                    $(`#join-btn-${task_id}`).text('Joined')
                },
                error: function (response) {
                    console.log('error', response);
                }
            })
            return false;
        });
    });
</script>
{% endblock scripts %}