{% extends 'core/base.html' %}
{% load static %}
<link href="{% static 'core/css/nicepage.css' %}" rel="stylesheet">
<link href="{% static 'core/css/Explore-Projects.css' %}" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>


{% block breadcrumb %}
<li class="breadcrumb-item">Home</li>
<li class="breadcrumb-item">Projects</li>
<li class="breadcrumb-item active">Views</li>
{% endblock breadcrumb%}
{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="loc-bounty">
                <!-- <div class="col-md-6 text-center mb-4"> -->
                <h2 class="heading-section">Bounty Board</h2>
                <!-- </div> -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-wrap">
                        <table class="table myaccordion table-hover" id="accordion">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Reward</th>
                                    <th>Category</th>
                                    <th>Project Requester</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for project in projects %}
                                <!-- <div id="accordion"> -->
                                <tr>
                                    <td>{{ project.name }}</td>
                                    <td>{{ project.efforts }} ETH</td>
                                    <td>{{ project.company }}</td>
                                    <td>{{ project.owner }}</td>
                                    <td>
                                        <button class="claim-font claim-button" data-toggle="collapse"
                                            data-target="#{{ project.id }}" aria-expanded="false">
                                            <!-- aria-expanded="false" -->
                                            Explore
                                        </button>
                                    </td>
                                </tr>
                                <tr id="{{ project.id }}" class="collapse">
                                    <td colspan="5">
                                        <div class="row">
                                            {% for task in tasks %}
                                            {% if task.project.id == project.id %}
                                            <div class="col-sm-4">
                                                <div class="single-note-item all-category note-business" style="">
                                                    <div class="card card-body">
                                                        <h5 class="note-title text-truncate w-75 mb-0"
                                                            data-noteheading="Give Review for design">
                                                            {{ task.task_name }}
                                                            {% if task.status == "Created"%}
                                                            <i class="point fa fa-circle ml-1 font-10"></i>
                                                            {% endif %}
                                                        </h5>
                                                        <p class="note-date font-12 text-muted">{{task.reward}} ETH
                                                            ({{task.status}}) </p>
                                                        <div class="note-content">
                                                            <p class="note-inner-content text-muted">
                                                                {{task.description}}.</p>
                                                        </div>
                                                        {% if task.status == "Created"%}
                                                        <div class="d-flex align-items-center">
                                                            <a href="{% url 'projects:claim-task' task_id=task.id %}">
                                                                <button class="claim-font claim-button">
                                                                    Join
                                                                </button>
                                                            </a>
                                                        </div>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
{% endblock %}